<div th:fragment="modalDelete" class="modal fade" id="modalDelete" data-target="#modalDelete"> tabindex="-1" aria-labelledby="exampleModalLabel">
     aria-hidden="true">
  <!--/*@thymesVar id="user" type="boot.model.User"*/-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column col-4 align-items-center offset-4">
          <h5>ID</h5>
          <input type="text" id="deleteId" class="disabled" readonly disabled>
          <h5>First name</h5>
          <input type="text" id="deleteFirstName" class="disabled" readonly disabled>
          <h5>Last name</h5>
          <input type="text" id="deleteLastName" class="disabled" readonly disabled>
          <h5>Age</h5>
          <input type="text" id="deleteAge" class="disabled" readonly disabled>
          <h5>Email</h5>
          <input type="text" id="deleteEmail" class="disabled" readonly disabled >
          <h5>Role</h5>
          <select disabled class="col-12" th:size="2">
            <option>
              User
            </option>
            <option>
              Admin
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="buttonDelete" type="button" class="btn btn-danger" href="#" >Delete</a>
      </div>
    </div>
  </div>
</div>