<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <form method="post" action="/login" role="form" class="form-horizontal col-sm-8 col-md-6 col-lg-4 col-xl-4 offset-sm-2 offset-md-3 offset-lg-4 offset-xl-4">
            <h1 class="text-center">Please sign in</h1>
            <input type="text" name="j_email" placeholder="Email address" class="form-control"/>
            <input type="password" name="j_password" placeholder="Password" class="form-control"/>
            <button class="btn btn-primary form-control" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>